<!DOCTYPE html>
<{include file="public/top.html"}>
<!-- BEGIN HEAD -->
<head>

<{include file="public/meta.html"}>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<{include file="public/CSS.html"}>
<!-- END GLOBAL MANDATORY STYLES -->
<link rel="shortcut icon" href="/static/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

   <!-- BEGIN FOOTER -->

  <div class="footer">

    <div class="footer-inner">

      <center>copyright &copy; 2015 gamedo Co.,Ltd.All Rights reserved.</center>

    </div>

    <!-- <div class="footer-tools">

      <span class="go-top">

      <i class="icon-angle-up"></i>

      </span>

    </div> -->

  </div>

  <!-- END FOOTER -->

  <!-- BEGIN FOOTER -->
<{include file="public/JS.html"}>
  <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>