<!DOCTYPE html>
<{include file="public/top.html"}>
<!-- BEGIN HEAD -->
<head>

<{include file="public/meta.html"}>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<{include file="public/CSS.html"}>
<!-- END GLOBAL MANDATORY STYLES -->
<link rel="shortcut icon" href="/static/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

  <!-- BEGIN HEADER -->

  <div class="header navbar navbar-inverse navbar-fixed-top">

    <!-- BEGIN TOP NAVIGATION BAR -->

    <div class="navbar-inner">

      <div class="container-fluid">

        <!-- BEGIN LOGO -->

        <a class="brand" href="<{base_url('/main')}>" target="main-frame">

        <img src="/static/image/logo.png" alt="logo"/>

        </a>

        <!-- END LOGO -->

        <!-- BEGIN RESPONSIVE MENU TOGGLER -->

        <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

        <img src="/static/image/menu-toggler.png" alt="" />

        </a>          

        <!-- END RESPONSIVE MENU TOGGLER -->            

        <!-- BEGIN TOP NAVIGATION MENU -->
    <ul class="nav pull-right">

    <!-- BEGIN USER LOGIN DROPDOWN-->
    <li class="dropdown user">
        <a href="#">当前账号：<{$name}></a>
    </li>
    <li class="dropdown user">
        <a href="<{base_url('/login/loginOut')}>" target="_top"><i class="icon-key"></i>退出</a>
    </li>
    <!-- END USER LOGIN DROPDOWN -->
    </ul>
    <!-- END TOP NAVIGATION MENU -->

      </div>

    </div>

    <!-- END TOP NAVIGATION BAR -->

  </div>

  <!-- END HEADER -->

  <!-- BEGIN FOOTER -->
<{include file="public/JS.html"}>
  <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>