<!DOCTYPE html>
<{include file="public/top.html"}>
<!-- BEGIN HEAD -->
<head>

<{include file="public/meta.html"}>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<{include file="public/CSS.html"}>
<!-- END GLOBAL MANDATORY STYLES -->
<link rel="shortcut icon" href="/static/image/favicon.ico" />
<style type="text/css">
    html{background-color: white}
</style>
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">
<!-- BEGIN PAGE -->

    <div class="page-content">

      <!-- BEGIN PAGE CONTAINER-->

      <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">

          <div class="span12">

            <!-- BEGIN PAGE TITLE & BREADCRUMB-->

            <h3 class="page-title">

              首页 <small></small>

            </h3>

            <ul class="breadcrumb">

              <li>

                <i class="icon-home"></i>

                <a href="#">首页</a> 

                <!-- <i class="icon-angle-right"></i> -->

              </li>

              <!-- <li><a href="#">当前</a></li> -->

            </ul>

            <!-- END PAGE TITLE & BREADCRUMB-->

          </div>

        </div>

        <!-- END PAGE HEADER-->

        <div id="dashboard">

          

          <div class="clearfix"></div>


          <div class="clearfix"></div>


          <div class="clearfix"></div>


          <div class="clearfix"></div>

        </div>

      </div>

      <!-- END PAGE CONTAINER-->    

    </div>

    <!-- END PAGE -->

  </div>

  <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
<{include file="public/JS.html"}>
  <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>